<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.lorentzca.circleci-build-status</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>40A0E57D-4866-4372-A9C2-6A4618C1F2DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99BD5FBB-DCCE-42DA-8DF7-902DE29EB7E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>583B1084-B4E7-4521-8468-DDF1B44902EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59E2309C-EA15-4DA5-A0AC-2DF5450D58A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E848BD7F-D031-41EC-967E-162BDEDE0BD7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>40A0E57D-4866-4372-A9C2-6A4618C1F2DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>lorentzca</string>
	<key>description</key>
	<string>Show CircleCI build status</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>CircleCI Build Status</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>circleci token</string>
				<key>subtext</key>
				<string>Enter CircleCI Token</string>
				<key>text</key>
				<string>circleci token</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E848BD7F-D031-41EC-967E-162BDEDE0BD7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>security add-generic-password -a $USER -s circleci-token -w {query} -U</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>40A0E57D-4866-4372-A9C2-6A4618C1F2DB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Save Token to Keychain Access</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>99BD5FBB-DCCE-42DA-8DF7-902DE29EB7E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>59E2309C-EA15-4DA5-A0AC-2DF5450D58A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>circleci</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>token=$(security find-generic-password -a $USER -s circleci-token -w)

{query}=$1

./alfred-circleci-workflow -t $token -f {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search and show build status</string>
				<key>title</key>
				<string>circleci</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>583B1084-B4E7-4521-8468-DDF1B44902EF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Search and show CircleCI build status.</string>
	<key>uidata</key>
	<dict>
		<key>40A0E57D-4866-4372-A9C2-6A4618C1F2DB</key>
		<dict>
			<key>note</key>
			<string>Save token to your Keychain Access.app</string>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>583B1084-B4E7-4521-8468-DDF1B44902EF</key>
		<dict>
			<key>note</key>
			<string>Search and show circleci build status.</string>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>59E2309C-EA15-4DA5-A0AC-2DF5450D58A9</key>
		<dict>
			<key>note</key>
			<string>Open circleci build page.</string>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>99BD5FBB-DCCE-42DA-8DF7-902DE29EB7E9</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>E848BD7F-D031-41EC-967E-162BDEDE0BD7</key>
		<dict>
			<key>note</key>
			<string>Register circleci token.</string>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.2</string>
	<key>webaddress</key>
	<string>https://github.com/lorentzca/alfred-circleci-workflow/</string>
</dict>
</plist>
